<br><br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <br><br>

        <br><br><br><br>
        <div class="">
            <div class="titulologin text-center">
                <h3 class="text-center title">Blue <span class="spaner">Bank</span></h3>
                <div class="borde"></div><br>
                <br></div>
            <div class="form-group">
                <input name="user" type="text" placeholder="Username" class="form-control" [(ngModel)]="mode.username"><br>
                <input name="pasword" type="password" placeholder="Password" class="form-control" [(ngModel)]="mode.password">
            </div>
            <br>
            <br>
            <div class="form-group">
                <button class="btn btn-primary btn-lg  btn-block btn-group-justified" (click)="login()">
                         Login 
                    </button>
                <br>
            </div>
            <br>
            <p class="slogan">simple, safe <span>and easy</span> </p>
        </div>
    </div>
    <div class="col-md-7 text-center">

        <img src="../../../assets//image/baner.png" alt="baner" style="width: 80%;">
    </div>



</div>