<br/>
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Register New Client</h4>
    </div>
</div>
<br>
<div class="card">
    <div class="row">
        <div class="col-md-12 ">
            <div class="form-group">
                <label for="NameText">Name</label>
                <input type="text" class="form-control" id="Name">
                <label for="NameText">LastName</label>
                <input type="text" class="form-control" id="LastName">
            </div>
            <br>
            <a type="submit" class="btn btn-primary text-left ">Save <fa name="send" style="color: rgb(251, 251, 251);"></fa></a>
            <a type="submit" class="btn btn-danger text-rigth ">Return <fa name="undo" style="color: rgb(251, 251, 251);"></fa></a>
        </div>
    </div>

</div>