<div class="">
    <div></div>
    <div class="row">


        <div class="col-md-6">
            <br> <br> <br>
            <h1 class="text-center title">Welcome to <span>Blue Bank</span></h1>
            <img src="../../../assets/image/animation_500_kmprj9pw.gif" alt="" style="width: 80%;">

        </div>
        <div class="col-md-6">
            <br><br><br><br>
            <div class="d-grid gap-2 d-md-block text-center">
                <a type="button" class="btn btn-light btn-lg btn-block shadow textMenu" routerLink="/client/new">
                    <fa name="user-plus" class="textMenuIcon"></fa>
                    New Client
                </a>

                <a type="button" class="btn btn-light btn-lg btn-block shadow textMenu" routerLink="/account/new">
                    <fa name="plus" class="textMenuIcon"></fa>
                    New Account
                </a>


                <a type="button" class="btn btn-light btn-lg btn-block shadow textMenu" routerLink="/account/consign">
                    <fa name="credit-card-alt" class="textMenuIcon"></fa>
                    Move Consign
                </a>

                <a type="button" class="btn btn-light btn-lg btn-block shadow textMenu" routerLink="/account/withdraw">
                    <fa name="credit-card-alt" class="textMenuIcon"></fa>
                    Move Withsraw
                </a>
                <a type="button" class="btn btn-light btn-lg btn-block shadow textMenu" routerLink="/account/consult">
                    <fa name="search" class="textMenuIcon"></fa>
                    Account
                </a>
                <a type="button" class="btn btn-light btn-lg btn-block shadow textMenu" (click)="logout()">
                    <fa name="sign-out" class="textMenuIcon"></fa>
                    Exit Menu
                </a>
            </div>
        </div>
    </div>

</div>