<br/>
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Welcome to Account</h4>
    </div>
</div>
<br/>
<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="d-grid gap-2 d-md-block text-center">
                <a type="button" class="btn btn-light btn-lg btn-block shadow textMenu" routerLink="/cliente">
                    <fa name="user-plus" class="textMenuIcon"></fa>
                    New Client
                </a>

                <a type="button" class="btn btn-light btn-lg btn-block shadow textMenu" routerLink="/new">
                    <fa name="plus" class="textMenuIcon"></fa>
                    New Account
                </a>


                <a type="button" class="btn btn-light btn-lg btn-block shadow textMenu" routerLink="/consign">
                    <fa name="credit-card-alt" class="textMenuIcon"></fa>
                    Move Consign
                </a>

                <a type="button" class="btn btn-light btn-lg btn-block shadow textMenu" routerLink="/withdraw">
                    <fa name="credit-card-alt" class="textMenuIcon"></fa>
                    Move Withsraw
                </a>
                <a type="button" class="btn btn-light btn-lg btn-block shadow textMenu" routerLink="/consult">
                    <fa name="search" class="textMenuIcon"></fa>
                    Account
                </a>
                <a type="button" class="btn btn-light btn-lg btn-block shadow textMenu" routerLink="/withdraw">
                    <fa name="sign-out" class="textMenuIcon"></fa>
                    Exit Menu
                </a>
            </div>
        </div>


    </div>

</div>