<br/>
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Welcome to Account</h4>
    </div>
</div>
<br/>
<div class="card">
    <div class="row">
        <div class="col-md-12">
            <div class="d-grid gap-2 d-md-block text-center">
                <a type="button" class="btn btn-light btn-lg btn-block shadow" routerLink="/cliente">
                    <fa name="user-plus" style="color: rgb(19, 19, 19); font-size: 50px;"></fa>
                    New Client
                </a>

                <a type="button" class="btn btn-light btn-lg btn-block shadow" routerLink="/new">
                    <fa name="plus" style="color: rgb(19, 19, 19); font-size: 50px;"></fa>
                    New Account
                </a>

                <a type="button" class="btn btn-light btn-lg btn-block shadow" routerLink="/consult">
                    <fa name="search" style="color: rgb(19, 19, 19); font-size: 50px;"></fa>
                    Consult Account
                </a>
                <a type="button" class="btn btn-light btn-lg btn-block shadow" routerLink="/move">
                    <fa name="credit-card-alt" style="color: rgb(19, 19, 19); font-size: 50px;"></fa>
                    Move Account
                </a>

                <a type="button" class="btn btn-light btn-lg btn-block shadow" routerLink="/history">
                    <fa name="history" style="color: rgb(19, 19, 19); font-size: 50px;"></fa>
                    History
                </a>
            </div>
        </div>


    </div>

</div>