<br/>
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Register New Account</h4>
    </div>
</div>
<br>
<div class="card">
    <div class="row">
        <div class="col-md-12 ">
            <form [formGroup]="accountForm">
                <div class="form-group">
                    <label for="NameText">Client</label>
                    <select class="form-control inputFind" name="SelectClients" id="Selectclient" formControlName="clientid">
                 
                    <option *ngFor="let client of clients" [value]="client.clientid">
                      {{client.name }} {{client.lastname}}
                    </option>
                  </select>
                    <label for="AccountNumber">Account Number</label>
                    <input type="text" class="form-control inputFind" id="Name" formControlName="number">
                    <label for="Value">Amount</label>
                    <input type="number" class="form-control inputFind" id="LastName" formControlName="valueinit">
                </div>
                <div *ngIf="accountForm.controls['number'].invalid && (accountForm.controls['number'].dirty || accountForm.controls['number'].touched)" class="alert alert-danger">
                    <div *ngIf="accountForm.controls['number'].errors.required">
                        Account number is required.
                    </div>
                </div>
                <div *ngIf="accountForm.controls['valueinit'].invalid && (accountForm.controls['valueinit'].dirty || accountForm.controls['valueinit'].touched)" class="alert alert-danger">
                    <div *ngIf="accountForm.controls['valueinit'].errors.required">
                        Amount is required.
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-success btn-lg  btn-block" (click)="newAccount()" [disabled]="accountForm.pristine || accountForm.invalid">
                        <fa name="send" style="color: rgb(251, 251, 251); font-size: 20px;"></fa>
                    </button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-danger btn-lg  btn-block" [routerLink]="['/accounts']">
                        <fa name="undo" style="color: rgb(251, 251, 251); font-size: 20px;"></fa>
                    </button>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>