<br/>
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Consign to Account</h4>
    </div>
</div>
<br>
<div class="card">

    <br>
    <div class="row">

        <div class="col-md-12 ">
            <div class="form-group">

                <label for="">Number account</label>
                <input type="text" class="form-control text-center inputFind" placeholder="0000001" [(ngModel)]="model.number">
                <label for="">Amount to consign</label>
                <input type="text" class="form-control text-center inputFind" placeholder="$ 0.00" [(ngModel)]="model.value">

                <br>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-success btn-lg  btn-block" (click)="newMoveConsign()">
                            <fa name="send" style="color: rgb(251, 251, 251); font-size: 20px;"></fa>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-danger btn-lg  btn-block" [routerLink]="['/accounts']">
                            <fa name="undo" style="color: rgb(251, 251, 251); font-size: 20px;"></fa>
                        </a>
                    </div>

                </div>

                -
            </div>

            <br>


        </div>
    </div>



</div>